<header>
  <div class="container">
    <a href="" class="logo">SG App</a>
    <nav>
      <ul>
        <li>
          <a href="#" [routerLink]="['/']" routerLinkActive="router-link-active"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            [routerLink]="['/list']"
            routerLinkActive="router-link-active"
            >Breweries</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<!--Route Rendering Section-->
<div class="container">
  <router-outlet></router-outlet>
</div>
